*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #F2B705;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
}
nav ul {
    display: flex;
    padding: 0.3rem 0.2rem;
    margin: 1rem;
    gap: 1.6rem; 
}
nav ul li{
    list-style: none;
    padding: 0.3rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #8C4637;
    /* border: 2px solid black; */
    padding: .2rem .3rem;
    border-radius: 10px;
}
nav ul button{
    padding: 0.2rem 0.4rem;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #593527;
}
nav ul li a :hover{
    opacity: 0.10;
}
section{
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./section\ img.jpeg);
}
@media (max-width : 641px){
    nav ul li a{
        text-decoration: none;
        font-size: 0.8rem;
        color: #8C4637;
        padding: 0.2rem 0.2rem;
    }
    .logo{
        color: #F2B705;
        font-size: 0.rem;
        padding: 0.4rem;
    }
    header{
        /* justify-content: space-between; */
        flex-direction: column;
    }
   
}
